
@{
    ViewBag.Title = "Logar";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/style-login.css">
    <link rel="stylesheet" href="~/Styles/lineicons_style.css">

    <link href="~/Styles/bootstrap.css" rel="stylesheet">
    @*<!--external css-->
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">*@

</head>
<body>
    <div id="form-container">
        <div class="panel" id="form-box">
            <form action="login.php" method="post">

                <h2 class="text-center" id="titulo" style="color: green;"> Área de login</h2>

                <div class="form-group">
                    <label class="sr-only" for="login">Usuário</label>
                    <div class="input-group">

                        <input type="text" name="usuario" placeholder="Seu login de usuário">
                    </div>
                </div>

                <div class="form-group">
                    <label class="sr-only" for="senha">Senha</label>
                    <div class="input-group">

                        <input type="password" name="senha" placeholder="Digite sua senha">
                    </div>
                </div>

                <div class="form-group">
                    <input type="button" value="Entrar">
                </div>


            </form>
        </div>
    </div>

</body>
</html>