

#form-container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    background-image: url(vacas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#form-box {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid white;
    position: absolute;
    z-index: 3;
}

    #form-box input {
        font-size: large;
    }

        #form-box input[type=button]:hover {
            opacity: 0.8;
        }

        #form-box input[type=button]:active {
            opacity: 0.6;
        }

        #form-box input[type=text]:focus {
            outline: none;
            border: 1px solid rgba(255,255,255,0.9);
        }

        #form-box input[type=password]:focus {
            outline: none;
            border: 1px solid rgba(255,255,255,0.9);
        }

        #form-box input[type=button]:focus {
            outline: none;
        }

::-webkit-input-placeholder {
    color: white;
}


#form-box input[type=text] {
    width: 260px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

#form-box input[type=password] {
    width: 260px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: white;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

#form-box input[type=button] {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: green;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}
